h1 {
    display:flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Ubuntu';
    text-decoration:underline;
    text-underline-offset: 20px;
    font-size: 54px;
    font: bold;
    line-height: 58px;
    margin: 0 0 58px;
}
h2 {
    display:flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Ubuntu';
    text-decoration:underline;
    text-underline-offset: 20px;
    font-size: 40px;
    font: bold;
    line-height: 58px;
    margin: 0 0 58px;
}

ul {
    color: #ffffff;
    /* font-family: 'Roboto-Condensed'; */
    font-size: 22px;
    line-height: 26px;
    text-indent: 30px;
    padding-left: 18em;
    justify-content: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

pre{
    color: #FFDA53;
    /* font-family: 'Roboto-Condensed'; */
    font-size: 25px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;
    display:flex;
    justify-content: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.Blog {
    background-color: #222222;
    height: 450vh;
    padding-top: 5em;
    white-space: initial;
    
}

p {
    color: #ffffff;
    /* font-family: 'Roboto-Condensed'; */
    font-size: 22px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;
    display:flex;
    text-align: center;
    justify-content: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}




.date {
    background: #FFDA53;
    color: #ffffff;
    display: inline-block;
    font-family: 'Roboto-Condensed';
    font-size: 19px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 0 0 30px;
    padding: 10px 15px 8px;
    text-transform: uppercase;
}